[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
python-dotenv = "*"
psycopg2 = "*"
coveralls = "*"
coverage = "*"
flake8 = "*"
gunicorn = "*"
django-heroku = "*"
pylint = "*"
pep8 = "*"
pycodestyle = "*"
pylint-django = "*"

[requires]
python_version = "3.7"
